:root{
    font-style: 16px;
    box-sizing: border-box;
    color: 696980;
}

*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*header*/

.wrap{
    max-width: 1171px;
    margin: 0 auto;
}

.header{
        background-image: -moz-linear-gradient( 150deg, rgb(84,183,161) 0%, rgb(66,99,132) 100%);
        background-image: -webkit-linear-gradient( 150deg, rgb(84,183,161) 0%, rgb(66,99,132) 100%);
        background-image: -ms-linear-gradient( 150deg, rgb(84,183,161) 0%, rgb(66,99,132) 100%);   
        height: 1024px;
} 

nav{
    width:960;
    margin: 0 auto;
}

.nav{
    margin: 0;
    padding: 0;
    list-style: none;
    height: 50px;
    margin-top: -30px;
}

.nav> .nav__item > .nav__link {
float: left;
color: aliceblue;
display: block;
height: 30px;
padding: 0 10px;
text-decoration: none;
position: relative;
left: 520px;
font-family: 'Anton', sans-serif;
    font-family: 'Nunito', sans-serif;

}

.logo{

    margin-top: 20px;

}

.book{
    position: relative;
    left: 100px;
    top: -5px;
    margin-top: 40px;
}

.block{
    position: relative;
    left: 200px;
    top: -240px;
    font-family: 'Nunito', sans-serif;
    color: rgb(255, 255, 255);
    
}

.block-book__title{
    position: relative;
    right:100px;
    bottom: 350px;
    font-family: 'Anton', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-size: 2em;
    padding-right:120px ;
}

.block-book__subtitle{
position: relative;
bottom: 340px;
right: 80px;
font-size: x-small;
color: rgb(107, 197, 107);
}

.block-book__author{
    position: relative;
    right: 106px;
    top: -120px;
    font-size: 9pt;
    color: rgb(107, 197, 107);
}

.incom_text{
    position: relative;
    bottom: 544px;
    left: 200px;
    font-size: 11pt;
}

.Logo__text{
    position: relative;
    bottom: 530px;
    left: 200px;
    font-size: 26pt;
}

.tteexxtt{
    position: relative;
    bottom: 100px;
}

.dop_text{
    position: relative;
    left: 200px;
    bottom: 523px;
    color: rgb(107, 197, 107);
}

.button{
    position: relative;
    left: 200px;
    bottom: 220px;
}

.button__text{
    position: relative;
    left: 230px;
    bottom: 263px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.end{
    position: relative;
    left: 200px;
    bottom: 220px;
    font-size: 9pt;
}
/*header*/

/*author*/
.block-ava_img{
    position: relative;
    top:-422px;
    left: 600px;
}

.block-ava_bg{
        background-image: -moz-linear-gradient( 150deg, rgb(90,202,177) 0%, rgb(66,99,132) 100%);
        background-image: -webkit-linear-gradient( 150deg, rgb(90,202,177) 0%, rgb(66,99,132) 100%);
        background-image: -ms-linear-gradient( 150deg, rgb(90,202,177) 0%, rgb(66,99,132) 100%);
        width: 335px;
        height: 458px;
        margin-left: 660px;
        margin-top: 240px;

        
      }
      
.block-info__author{
    position: relative;
    top: 520px;
    right: 100px;
    font-size: 10pt;
    color: rgb(91, 85, 97);
}

.block-info__title{
    position: relative;
    top: 560px;
    right: 100px;
    color: rgb(71, 70, 71);
    font-size: 27pt;
}

.block-info__subtitle{
    position: relative;
    top: 577px;
    right: 100px;
    color: rgb(106, 211, 96);
}

.block-info__desc{
    position: relative;
    top: 620px;
    right: 180px;
    color: rgb(91, 85, 97);
    font-family: 'Anton', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-size: 9pt;
}

.block-info__deesc{
    position: relative;
    top: 640px;
    right: 190px;
    color: rgb(91, 85, 97);
    font-family: 'Anton', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-size: 9pt;
}



.clik{
    position: relative;
    right:50px;
    color: rgb(255, 255, 255);
    bottom: 15px;
    font-family: 'Anton', sans-serif;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;

}

.btn{
 
        border-radius: 3px;
        background-image: -moz-linear-gradient( 180deg, rgb(101,228,206) 0%, rgb(101,228,161) 100%);
        background-image: -webkit-linear-gradient( 180deg, rgb(101,228,206) 0%, rgb(101,228,161) 100%);
        background-image: -ms-linear-gradient( 180deg, rgb(101,228,206) 0%, rgb(101,228,161) 100%);
        box-shadow: 0px 2px 0px 0px rgba(101, 228, 125, 0.5);
        position: absolute;
        left: 10px;
        top: 941px;
        padding-left: 100px;
        padding-top: 30px;
        border: none;

      }
      
.block-countr__item{
float: left;
color: dimgrey;
font-size: 10pt;
position: relative;
bottom: 200px;
padding: 0 80px;
}

.block-counter__digit{
    font-size: 5rem;
    font-weight: 100;
    letter-spacing: 5px;
    display: block;
    color:rgb(106, 211, 96) ;
    font-family: 'Quicksand', sans-serif;
}
/*author*/

/*book*/

.wrap_book{
    background: rgb(233, 233, 233);
    height: 500px;

}

.block__title{
    color: #44444f;
    text-align: center;
    position: relative;
    right: 490px;
    font-size: 30pt;
    padding-top: 70px;
    font-family: 'Roboto Slab', serif;
    margin-left: 1000px;
    

}

.block__subtitle{
    font-size: 11pt;
    position: relative;
    right: -540px;
    color: #65e496;
    font-family: 'Roboto Slab', serif;

}

.block-about__title{
    margin-top: 47px;
    margin-left: 120px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    color: #44444f;
    
}
.block-about__desc{
    color:#696980 ;
    margin-right: 780px;
    padding-left: 100px;
    font-size: 9pt;
}

.block-about__icon-title{
    color: #44444f;
    padding-top: 40px;
    padding-left: 100px;


}

.block-about{
    position: relative;
    bottom: 30px;
}

.block-about__icon-list{
    display:flex;
    list-style-type: none;
    color: #65e496;
    padding-left: 20px;
}

.block-about__icon-item{
    margin-left: 15px;
    position: relative;
    left: 170px;
    bottom: 20px;
}

.block-table__list{
    column-count: 2;
    column-gap: 70px;
}

.block-table__item{
    position: relative;
    
    padding-top: 10px;
}

.block-table__item::before{
    content: '+';
    position: absolute;
    left: -55px;
        background-image: -moz-linear-gradient( 180deg, rgb(101,228,206) 0%, rgb(101,228,161) 100%);
        background-image: -webkit-linear-gradient( 180deg, rgb(101,228,206) 0%, rgb(101,228,161) 100%);
        background-image: -ms-linear-gradient( 180deg, rgb(101,228,206) 0%, rgb(101,228,161) 100%);
        padding: 5px 8px;
        font-size: 6pt;
        color: #fff;

      }
      
      .block-table{
          position: relative;
          bottom: 350px;
          left: 700px;
          padding-right: 900px;
          color:#696980 ;
          font-size: 9pt;
          
      }

      .block-table__title{
        font-family: 'Roboto Slab', serif;
        font-weight: bold; 
        color: #44444f;
      }

      .bt{
        border-radius: 3px;
        background-image: -moz-linear-gradient( 180deg, rgb(101,228,206) 0%, rgb(101,228,161) 100%);
        background-image: -webkit-linear-gradient( 180deg, rgb(101,228,206) 0%, rgb(101,228,161) 100%);
        background-image: -ms-linear-gradient( 180deg, rgb(101,228,206) 0%, rgb(101,228,161) 100%);
        box-shadow: 0px 2px 0px 0px rgba(101, 228, 125, 0.5);
        position: absolute;
        bottom: -60px;
        left: -60px;
        padding-left: 70px;
        padding-top: 23px;
        border: none;

      }

      .more{
          color: #fff;
          position: relative;
          right: 40px;
          bottom: 10px;
          text-decoration: none;
          font-family: 'Roboto Slab', serif;
          font-weight: bold; 
      }

      .Ofh{
          position: relative;
          bottom: 200px;
      }

      .Some{
        position: relative;
        bottom: 190px;
        
      }

      .block-lib{
          display: flex;
          justify-content: space-around;
      }

      .block-lib__item{
        margin-left: 150px;
           
      }

      .book-preview__title{
          padding-top: 30px;
          text-align: center;

      }

      .book-preview__title{
          position: relative;
          bottom: 250px;
          left: -60px;
          font-family: 'Roboto Slab', serif;
          font-weight: bold;
          color: #fff;
      }

      .book-preview__subtitle{
          position: relative;
          bottom: 230px;
          left:40px;
          font-size: 7pt;
          color: #65e496;
      }

      .book-preview__author{
          position: relative;
          bottom: 100px;
          left:60px;
          font-size: 5pt;
          color: #65e496;
      }

      .block-lib__title{
          position: relative;
          left: 57px;
          bottom: 70px;
          color:#696980 ;
          font-weight: normal;
      }

      .block-lib__desc{
          position: relative;
          bottom: 50px;
          color:#696980 ;
          font-weight: normal;
          padding-right: 80px;
      }

      .block_lib_link{
          position: relative;
          bottom: 30px;
          color:#65e496 ;
          text-decoration: none;
          padding-left: 40px;
      }

      .btt{
        border-radius: 3px;
        background-image: -moz-linear-gradient( 180deg, rgb(101,228,206) 0%, rgb(101,228,161) 100%);
        background-image: -webkit-linear-gradient( 180deg, rgb(101,228,206) 0%, rgb(101,228,161) 100%);
        background-image: -ms-linear-gradient( 180deg, rgb(101,228,206) 0%, rgb(101,228,161) 100%);
        box-shadow: 0px 2px 0px 0px rgba(101, 228, 125, 0.5);
        position: absolute;
        right: 540px;
        margin-top: 50px;
        padding-top: 20px;
        padding-right: 60px;
        border: none;
        
      }

      .Browse{
          position: relative;
          left: 30px;
          bottom: 10px;
          font-family: 'Roboto Slab', serif;
          font-weight: bold;
          color: #fff;
          text-decoration: none;
      }
/*book*/

/*review*/

.block-review{
    background-image: url('../img/bg1.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px ;
    position: relative;
    top: 500px;
    margin-bottom: 200px;
    
    
}

.block-review_ava{
    width: 152px;
    height: 152px;
    margin: 0 auto;
    position: relative;
}

.block-review_qute{
    background-image: url(img/ï„Ž.png);
    background-repeat: no-repeat;
    width: 48px;
    height: 42px;
    position: absolute;
    right: 0;
}

.block-review__autor{
    color: #65e496;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 0.04em;
    padding-top: 25px;
    font-family: 'Roboto Slab', serif;
    

}

.block-review__special{
    color: #9191b5;
    font-size: 1rem;
    text-align: center;
    letter-spacing: 0.03rem;
    padding-top: 12px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}

.block-review__text{
    max-width: 760px;
    margin: 0 auto;
    text-align: center;
    color: #9191b5;
    font-family: 'Roboto Slab', serif;
    padding-top: 40px;
    font-weight: normal;
    font-size: 10pt;
}

.block-review-control{
    list-style-type: none;
}

.block-review-control_item{
        border-radius: 50%;
        background-image: -moz-linear-gradient( 180deg, rgb(101,228,206) 0%, rgb(101,228,161) 100%);
        background-image: -webkit-linear-gradient( 180deg, rgb(101,228,206) 0%, rgb(101,228,161) 100%);
        background-image: -ms-linear-gradient( 180deg, rgb(101,228,206) 0%, rgb(101,228,161) 100%);
        position: absolute;
        width: 8px;
        height: 8px;
        margin-top: 17px;
        margin-left: 440px;

}

.block-review-control_item_2{
    border-radius: 50%;
    background-image: -moz-linear-gradient( 180deg, rgb(101,228,206) 0%, rgb(101,228,161) 100%);
    background-image: -webkit-linear-gradient( 180deg, rgb(101,228,206) 0%, rgb(101,228,161) 100%);
    background-image: -ms-linear-gradient( 180deg, rgb(101,228,206) 0%, rgb(101,228,161) 100%);
    position: absolute;
    width: 8px;
    height: 8px;
    margin-top: 17px;
    margin-left: 425px;

}

.block-review-control_item_block-review-control__item--long{
    border-radius: 50%;
    background-image: -moz-linear-gradient( 180deg, rgb(101,228,206) 0%, rgb(101,228,161) 100%);
    background-image: -webkit-linear-gradient( 180deg, rgb(101,228,206) 0%, rgb(101,228,161) 100%);
    background-image: -ms-linear-gradient( 180deg, rgb(101,228,206) 0%, rgb(101,228,161) 100%);
    position: absolute;
    width: 8px;
    height: 8px;
    margin-top: 17px;
    margin-left: 455px;
    padding-right: 30px;
    border-radius: 10px;
}

.ap{
    position: relative;
    left: 500px;
    bottom: 165px;
}

/*review*/

.gradient{
        background-image: -moz-linear-gradient( 150deg, rgb(66,99,132) 0%, rgb(90,202,177) 100%);
        background-image: -webkit-linear-gradient( 150deg, rgb(66,99,132) 0%, rgb(90,202,177) 100%);
        background-image: -ms-linear-gradient( 150deg, rgb(66,99,132) 0%, rgb(90,202,177) 100%);
        position: absolute;
        width: 435px;
        height: 704px;
        margin-top: 500px;
        margin-left: 70px;
        
}

.photo{
    position: relative;
    margin-top: 550px;
    margin-left: 110px;
}

.name_head{
    font-size: 12pt;
    color: #9191b5;

}

.block__Register{
    position: relative;
    bottom: 650px;
    left:700px;
}

.Upcoming{
    font-family: 'Poppins', sans-serif;
    font-size: 30pt;
}

.interested{
    color:#65e496;
    font-family: 'Roboto Slab', serif;
    font-size: 11pt;
}

.date{
    font-size: 12pt;
    color: #9191b5;
    position: relative;
    top: 70px;
}

.heading{
    position: relative;
    top: 84px;
    font-family: 'Roboto Slab', serif;
    color: #44444f;
}

.chapter_tex{
    margin-right: 800px;
    font-size: 12pt;
    color: #9191b5;
    position: relative;
    top: 110px;
}

.but{
        border-radius: 3px;
        background-image: -moz-linear-gradient( 180deg, rgb(101,228,206) 0%, rgb(101,228,161) 100%);
        background-image: -webkit-linear-gradient( 180deg, rgb(101,228,206) 0%, rgb(101,228,161) 100%);
        background-image: -ms-linear-gradient( 180deg, rgb(101,228,206) 0%, rgb(101,228,161) 100%);
        box-shadow: 0px 2px 0px 0px rgba(101, 228, 125, 0.5);
        position: absolute;;
        width: 137px;
        height: 48px;
        margin-top: 140px;
        border: none;
}

.but_text{
    text-decoration: none;
    color: #fff;
    font-family: 'Roboto Slab', serif;
}

.chapter-2{
    position: relative;
    top: 200px;
}